extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1 #{projectName}

        p #{projectDesc}

      .project-tech-links-box.box
        h6 Technologies

        ul
          each tech in technologies 
            li= tech

        a.btn-link(href=`${liveDemo}`, target= "_blank") Live Demo
        a.btn-link(href=`${gitHubLink}`, target= "_blank") GitHub Repo

        

    .project-img-box.box

      img.project-img(src=`${projectImage1}`, alt=`${screenshotAlt}`)
      img.project-img(src=`${projectImage2}`, alt=`${screenshotAlt}`)
      
      if projectImage3
        img.project-img(src=`${projectImage3}`, alt=`${screenshotAlt}`)

    nav.nav
      a(href='/')
        span &larr;
        |  Back
